ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
}

.column {
    float: left;
    width: 15%;
    padding: 15px;
    flex: 1;
    overflow: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#title {
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #555;
    color: FFFFFF;
}

.topnav a.active {
    background-color: #e3081e;
    color: #FFFFFF;
}

.content {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
}

/*#button {
    position: relative;
    background-color: black;
    border: none;
    font-size: 17px;
    color: #FFFFFF;
    padding: 10px;
    width: 180px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px;
    margin-right: 20px;
}

#button:hover {
    background-color: #e3081e;
    color: white;
}*/
