ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
}

.column {
    float: left;
    width: 15%;
    padding: 15px;
    flex: 1;
    overflow: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#title {
    text-align: center;
    
}

.content {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 220px;
}

/*#button {
    position: relative;
    background-color: black;
    border: none;
    font-size: 17px;
    color: #FFFFFF;
    padding: 10px;
    width: 180px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px;
    margin-right: 20px;
}

#button:hover {
    background-color: #e3081e;
    color: white;
}*/

.nav_bar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: black;
  padding: 6px 14px;
  width: 180px;
}

.nav_bar i{
  color: #FFFFFF;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.nav_bar .nav_content{
  margin-top: 20px;
  height: 100%;
}

.nav_bar li a{
  display: flex;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  background: black;
}
.nav_bar li a:hover{
  background: #FFF;
}

.nav_page{
  color: #fff;
}

.nav_bar li a:hover .nav_page,
.nav_bar li a:hover i{
  color: black;
}

