/* navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: black;
  padding: 6px 14px;
  width: 180px;
}

.nav_bar i {
  color: #FFFFFF;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.nav_bar .nav_content {
  margin-top: 20px;
  height: 100%;
}

.nav_bar li {
  margin: 10px 0px;
}

.nav_bar li a {
  display: flex;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
}

.nav_bar li a:hover {
  background: #FFF;
}

.nav_bar li a.active {
  background: #FFF;
}

.nav_bar li a.active .nav_page,
.nav_bar li a.active i {
  color: black;
}

.nav_page {
  color: #fff;
}

.nav_bar li a:hover .nav_page,
.nav_bar li a:hover i {
  color: black;
}

/* table and charts */

.row {
  display: flex;
}

.column {
  float: left;
  width: 15%;
  padding: 15px;
  flex: 1;
  overflow: auto;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  width: 100%;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

#table_previous{
  width: 70%;
}

th {
  font-size: 15px;
  text-align: left;
  padding: 20px 20px 20px 20px;
}

th,
td {
  text-align: left;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: rgba(209, 213, 216, 0.2);
}

tr:hover {
  background-color: rgba(173, 210, 237, 0.2);
}

/* table buttons customization */

.question-mark:hover {
  color: #000000;
  background-color: #FFFFFF;
  cursor: pointer;
}

.question-mark{
  display: inline-block;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-family: sans-serif;
  font-weight: 500;
  color: #000000;
  width: 30px;
  text-align: center;
  background-color:rgba(113, 187, 239, 0.2);
}

/* form buttons to be displayed side by side in watch_next */
form {
  display: inline;
}

input {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* page title */
#title {
  text-align: center;
}

/* page content */
.content {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 220px;
}

/* about page */
.about {
  background: url(/static/images/squirrel_model.png) no-repeat left;
  background-size: 48%;
  background-color: #FFF;
  overflow: hidden;
  padding: 10px 0;
}

.about_container {
  width: 50%;
  float: right;
  background-color: #FFF;
  padding: 10px;
}

.text {
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
}

/* contact page */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.title {
  color: grey;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.web {
  flex: 1;
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 3;
  color: black;
}

.web:link,
.web:visited,
.web:focus {
  background: rgba(186, 186, 186, 0.2);
  color: black;
}

.web:hover {
  background: rgba(113, 187, 239, 0.2);
}

/* watch next page */
#poster_cur{
  width: 15%;
  height: auto;
}

#poster {
  width: 20%;
  height: auto;
}

.action_expl {
  width: 700px; 
  padding: 20px; 
  background: rgba(173, 210, 237, 0.2);
  text-align: justify;
}

/* stars */
span.stars, span.stars>* {
  display: inline-block;
  background: url(/static/images/stars.png) 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}
span.stars>*{
  max-width:80px;
  background-position: 0 0;
}

/* movie slider */
.movie-slide { 
  background:#fff; 
  max-width: 650px;
  overflow: hidden; 
  padding: 10px 10px 13px; 
}

.movie-slide:hover { 
  transition: 1s ease-out; 
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 15px; 
}

.movie-box { 
  display: flex;
  overflow-x: scroll;
  padding: 10px 10px;
}

.movie-info { 
  margin: 5px 15px 8px 0px;
}

@media screen and (max-width:3000px) {
  .text {
    font-size: 20px;
  }
}

.button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: #111;
  cursor: pointer;
  position: relative;
  text-align: center;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button-2{
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  width: 300px;
  text-align: center;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-2:hover,
.button-2:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-2:active {
  background: var(--color);
  color: #fff;
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border-color: #000000;
  background: rgb(255, 255, 255);
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:rgb(0, 0, 0);
  cursor:pointer;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 250px;
  height: 3em;
  line-height: 3;
  background: #222;
  overflow: hidden;
  border-radius: .25em;
  border-color: #000000;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #222;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #23b499;
}
