<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta charset="UTF-8">
    <title>SQUIRREL</title>
</head>

<body>

    <body>
        <div class="content">
            <h1 id="title">SQUIRREL</h1>

            <div class="topnav" id="myTopnav">
                <a href="{{url_for('index')}}">Home</a>
                <a href="#about" class="active">About</a>
                <a href="#contact">Contact</a>
            </div>

        </div>

    </body>

</html>
