<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>SQUIRREL</title>
</head>

<body>
    <div class="content">
        <h1 id="title">SQUIRREL</h1>

        <div class="nav_bar">
            <ul class="nav_content">
                <li>
                    <a href="#home" class="active">
                        <i class='bx bxs-home' ></i>
                        <span class="nav_page">Home</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('about')}}">
                        <i class='bx bxs-info-square' ></i>
                        <span class="nav_page">About</span>
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        <i class='bx bxs-envelope' ></i>
                        <span class="nav_page">Contact</span>
                    </a>
                </li>  
            </ul>
        </div>

        <br>

        <b>File in use:</b> {{ value }}

        <!--buttons
        <form method="post" action="/">
            <input id="button" type="submit" value="Overall Satisfaction" name="ov_sat" />
            <input id="button" type="submit" value="MaxMin" name="max_min" />
            <input id="button" type="submit" value="ndcg" name="ndcg" />
            <input id="button" type="submit" value="dfh" name="dfh" />
            <input id="button" type="submit" value="f_score" name="f_score" />
        </form>
        -->

        <!--tables-->
        <div class="row">
            <div class="column">
                <table>
                    <h1>
                        {% for value in table %}
                        <h2>{{titles[loop.index]}}</h2>
                        {{ value|safe }}
                        {% endfor %}
                    </h1>
                </table>
            </div>

            <div class="column">
                <table>
                    <h1>
                        {% for value in table2 %}
                        <h2>{{titles2[loop.index]}}</h2>
                        {{ value|safe }}
                        {% endfor %}
                    </h1>
                </table>
            </div>

            <div class="column">
                <table>
                    <h1>
                        {% for value in table3 %}
                        <h2>{{titles3[loop.index]}}</h2>
                        {{ value|safe }}
                        {% endfor %}
                    </h1>
                </table>
            </div>

            <div class="column">
                <table>
                    <h1>
                        {% for value in table4 %}
                        <h2>{{titles4[loop.index]}}</h2>
                        {{ value|safe }}
                        {% endfor %}
                    </h1>
                </table>
            </div>

            <div class="column">
                <table>
                    <h1>
                        {% for value in table5 %}
                        <h2>{{titles5[loop.index]}}</h2>
                        {{ value|safe }}
                        {% endfor %}
                    </h1>
                </table>
            </div>
        </div>

</body>
