<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!--<script src="{{url_for('static', filename='js/javascript.js')}}"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{url_for('static', filename='js/highchartTable.js')}}" type="text/javascript"></script>

    <meta charset="UTF-8">
    <title>SQUIRREL</title>
</head>

<body>
    <div class="content">
        <h1 id="title">SQUIRREL</h1>

        <!-- navigation bar -->
        <div class="nav_bar">
            <ul class="nav_content">
                <li>
                    <a class="active" href="#home">
                        <i class='bx bxs-home'></i>
                        <span class="nav_page">Home</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('about')}}">
                        <i class='bx bxs-info-square'></i>
                        <span class="nav_page">About</span>
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        <i class='bx bxs-envelope'></i>
                        <span class="nav_page">Contact</span>
                    </a>
                </li>
            </ul>
        </div>

        <br>

        <b>File in use:</b> {{ value }}

        <!-- tables with charts -->
        <div class="row">
            <div class="column">
                <table class="highchart" data-graph-container="#graphcontainer" data-graph-type="column" data-graph-color-1="#005EAD">
                    <thead>
                        <th>Round</th>
                        <th>{{ov_sat[0]}}</th>
                    </thead>
                    <tbody>
                        {% for item in ov_sat[1:] %}
                        <tr>
                            <td>{{ loop.index0 }}</td>
                            <td>{{'%0.3f'|format(item|float)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="graphcontainer"></div>
            </div>

            <div class="column">
                <table class="highchart2" data-graph-container="#graphcontainer2" data-graph-type="column" data-graph-color-1="#005EAD">
                    <thead>
                        <th>Round</th>
                        <th>{{max_min[0]}}</th>
                    </thead>
                    <tbody>
                        {% for item in max_min[1:] %}
                        <tr>
                            <td>{{ loop.index0 }}</td>
                            <td>{{'%0.3f'|format(item|float)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="graphcontainer2"></div>
            </div>

            <div class="column">
                <table class="highchart3" data-graph-container="#graphcontainer3" data-graph-type="column" data-graph-color-1="#005EAD">
                    <thead>
                        <th>Round</th>
                        <th>{{ndcg[0]}}</th>
                    </thead>
                    <tbody>
                        {% for item in ndcg[1:] %}
                        <tr>
                            <td>{{ loop.index0 }}</td>
                            <td>{{'%0.3f'|format(item|float)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="graphcontainer3"></div>
            </div>

            <div class="column">
                <table class="highchart4" data-graph-container="#graphcontainer4" data-graph-type="column" data-graph-color-1="#005EAD">
                    <thead>
                        <th>Round</th>
                        <th>{{dfh[0]}}</th>
                    </thead>
                    <tbody>
                        {% for item in dfh[1:] %}
                        <tr>
                            <td>{{ loop.index0 }}</td>
                            <td>{{'%0.3f'|format(item|float)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="graphcontainer4"></div>
            </div>

            <div class="column">
                <table class="highchart5" data-graph-container="#graphcontainer5" data-graph-type="column" data-graph-color-1="#005EAD">
                    <thead>
                        <th>Round</th>
                        <th>{{f_score[0]}}</th>
                    </thead>
                    <tbody>
                        {% for item in f_score[1:] %}
                        <tr>
                            <td>{{ loop.index0 }}</td>
                            <td>{{'%0.3f'|format(item|float)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="graphcontainer5"></div>
            </div>
        </div>

        <!-- create charts from tables using highcharts -->
        <script>
            $('table.highchart').highchartTable();
            $('table.highchart2').highchartTable();
            $('table.highchart3').highchartTable();
            $('table.highchart4').highchartTable();
            $('table.highchart5').highchartTable();
        </script>

</body>
