<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta charset="UTF-8">
    <title>SQUIRREL</title>
</head>

<body>
    <div class="content">
        <h1 id="title">SQUIRREL</h1>

        <div class="topnav">
            <ul>
                {% for item in nav.top %}
                <li class="{{ 'active' if item.is_active else '' }}">
                    <a href="{{ item.url }}">{{ item.label }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <br>

        <!--buttons-->
        <form method="post" action="/">
            <input type="submit" value="Overall Satisfaction" name="ov_sat" />
            <input type="submit" value="MaxMin" name="max_min" />
            <input type="submit" value="ndcg" name="ndcg" />
            <input type="submit" value="dfh" name="dfh" />
            <input type="submit" value="f_score" name="f_score" />
        </form>

        <!--tables-->
        <table>
            <h1>
                {% for value in table %}
                <h2>{{titles[loop.index]}}</h2>
                {{ value|safe }}
                {% endfor %}
            </h1>
        </table>

        <table>
            <h1>
                {% for value in table2 %}
                <h2>{{titles2[loop.index]}}</h2>
                {{ value|safe }}
                {% endfor %}
            </h1>
        </table>

        <table>
            <h1>
                {% for value in table3 %}
                <h2>{{titles3[loop.index]}}</h2>
                {{ value|safe }}
                {% endfor %}
            </h1>
        </table>

        <table>
            <h1>
                {% for value in table4 %}
                <h2>{{titles4[loop.index]}}</h2>
                {{ value|safe }}
                {% endfor %}
            </h1>
        </table>

        <table>
            <h1>
                {% for value in table5 %}
                <h2>{{titles5[loop.index]}}</h2>
                {{ value|safe }}
                {% endfor %}
            </h1>
        </table>

    </div>

</body>
