<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <meta charset="UTF-8">
    <meta name="description" content="COntact page with contact form">
    <meta name="keywords" content="html, contact">
    <meta name="author" content="Eva Chrysostomaki">

    <title>SQUIRREL</title>
    <!--favicon taken from flaticon.com -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename= 'images/squirrel.ico') }}">
</head>

<body>
    <div class="content">
        <h1 id="title">SQUIRREL</h1>

        <!-- navigation bar -->
        <div class="nav_bar">
            <ul class="nav_content">
                <li>
                    <a href="{{url_for('watch_next')}}">
                        <i class='bx bxs-movie-play'></i>
                        <span class="nav_page">Watch Next</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('about')}}">
                        <i class='bx bxs-info-square'></i>
                        <span class="nav_page">About</span>
                    </a>
                </li>
                <li>
                    <a class="active" href="#contact">
                        <i class='bx bxs-envelope'></i>
                        <span class="nav_page">Contact</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="container">
                        <h2>Eva Chrysostomaki</h2>
                        <p class="title">UI Designer</p>
                        <p>University of Crete</p>
                        <p>chrisostomaki.eva@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="container">
                        <h2>Vasilis Efthymiou</h2>
                        <p class="title">Overseer</p>
                        <p>FORTH-ICS</p>
                        <p>vefthym@ics.forth.gr</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="container">
                        <h2>Maria Stratigi</h2>
                        <p class="title">SQUIRREL Framework Designer</p>
                        <p>Tampere University</p>
                        <p>maria.stratigi@tuni.fi</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="container">
                        <h2>Kostas Stefanidis</h2>
                        <p class="title">SQUIRREL Framework Designer</p>
                        <p>Tampere University</p>
                        <p>konstantinos.stefanidis@tuni.fi</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
