<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>SQUIRREL</title>
    <!--favicon taken from flaticon.com -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename= 'images/squirrel.ico') }}">
</head>

<body>
    <div class="content">
        <h1 id="title">SQUIRREL</h1>

        <!-- navigation bar -->
        <div class="nav_bar">
            <ul class="nav_content">
                <li>
                    <a href="{{url_for('index')}}">
                        <i class='bx bxs-home'></i>
                        <span class="nav_page">Home</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('about')}}">
                        <i class='bx bxs-info-square'></i>
                        <span class="nav_page">About</span>
                    </a>
                </li>
                <li>
                    <a class="active" href="#contact">
                        <i class='bx bxs-envelope'></i>
                        <span class="nav_page">Contact</span>
                    </a>
                </li>
            </ul>
        </div>

        {% block content %}
        <h2>Contact</h2>
        <form action="{{ url_for('contact') }}" method=post>

            {{ form.name.label }}
            {{ form.name }}

            {{ form.email.label }}
            {{ form.email }}

            {{ form.subject.label }}
            {{ form.subject }}

            {{ form.message.label }}
            {{ form.message }}

            {{ form.submit }}
        </form>
        {% endblock %}

    </div>
</body>

</html>
