<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{url_for('static', filename='js/highchartTable.js')}}"></script>

    <meta charset="UTF-8">
    <meta name="description" content="Watch next page that shows next round of recommendations">
    <meta name="keywords" content="html, watch_next">
    <meta name="author" content="Eva Chrysostomaki">

    <title>SQUIRREL</title>

    <!--favicon taken from flaticon.com -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename= 'images/squirrel.ico') }}">
</head>

<body>
    <div class="content">
        <h1 id="title">SQUIRREL</h1>

        <!-- navigation bar -->
        <div class="nav_bar">
            <ul class="nav_content">
                <li>
                    <a href="{{url_for('index')}}">
                        <i class='bx bxs-home'></i>
                        <span class="nav_page">Home</span>
                    </a>
                </li>
                <li>
                    <a class="active" href="{{url_for('watch_next')}}">
                        <i class='bx bxs-movie-play'></i>
                        <span class="nav_page">Watch Next</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('about')}}">
                        <i class='bx bxs-info-square'></i>
                        <span class="nav_page">About</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('contact')}}">
                        <i class='bx bxs-envelope'></i>
                        <span class="nav_page">Contact</span>
                    </a>
                </li>
            </ul>
        </div>

        {% if test %}
        <b>Select a group: </b>

        <!-- tables with groups -->
        <div class="row">
            <div class="column">
                <table>
                    <thead>
                        <th>Group</th>
                        <th>Show Results</th>
                    </thead>
                    <tbody>

                        {% for test in test[:10] %}
                        <tr>
                            <td><img src="{{ url_for('static', filename = 'images/avatar.png') }}"></td>
                            <form method="post" action="/watch_next">
                                <td><input class="button" type="submit" value="{{test.split('\t', 1)[0]}}"
                                        name="{{test.split('\t', 1)[0]}}" />
                                </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="column">
                {% if test[10:] %}
                <table>
                    <thead>
                        <th>Group</th>
                        <th>Show Results</th>
                    </thead>
                    <tbody>
                        {% for test in test[10:] %}
                        <tr>
                            <td><img src="{{ url_for('static', filename = 'images/avatar.png') }}"></td>
                            <form method="post" action="/watch_next">
                                <td><input class="button" type="submit" value="{{test.split('\t', 1)[0]}}"
                                        name="{{test.split('\t', 1)[0]}}" />
                                </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        {% endif %}

        <!-- table with recommended movies and individual scores for current round -->
        {% if items %}
        <b>Group: </b> {{items[0].id}}
        <br>
        <b><u>Current Round </u></b>
        <table>
            <thead>
                <th>Round</th>
                <th>Recommended Movie</th>
                <th>M1 Score</th>
                <th>M2 Score</th>
                <th>M3 Score</th>
                <th>M4 Score</th>
                <th>M5 Score</th>
            </thead>
            <tbody>

                {% for item in items %}
                <tr>
                    <td>{{item.round}}</td>
                    <td><img id="poster_cur" src="{{ url_for('static', filename = 'posters/'+ item.movie +'.jpg') }}">
                    </td>
                    <td>{{item.m1_score}}</td>
                    <td>{{item.m2_score}}</td>
                    <td>{{item.m3_score}}</td>
                    <td>{{item.m4_score}}</td>
                    <td>{{item.m5_score}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <br>
        <br>

        <!-- table with scores for current round -->
        {% if cur_round is defined %}
        <b>Current Round Scores:</b>
        <table>
            <thead>
                <th>Overall Satisfaction</th>
                <th>MaxMin</th>
                <th>NDCG</th>
                <th>DFH</th>
                <th>FScore</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{'%0.3f'|format(cur_round[0]|float)}}</td>
                    <td>{{'%0.3f'|format(cur_round[1]|float)}}</td>
                    <td>{{'%0.3f'|format(cur_round[2]|float)}}</td>
                    <td>{{'%0.3f'|format(cur_round[3]|float)}}</td>
                    <td>{{'%0.3f'|format(cur_round[4]|float)}}</td>
                </tr>
            </tbody>
        </table>

        <!-- action explanations -->
        <b>Action:</b> {{ action }}

        {% if action == "Average" %}
        <p>We recommended this movie for this round, since it is the movie that is most likely to be enjoyed by the all group members. <br>
            Average satisfaction: {{'%0.3f'|format(cur_round[0]|float)}}</p>
        <p class="action_expl">It is the classic Average Aggregation method,
                                where the group predicted score for an item is the average across 
                                all predicted scores for that item across all group members. In this case, 
                                all the predicted scores of an item for the group members are considered 
                                to be of equal importance.</p>

        {% elif action == "SDAA" %}
        <p>We recommended this movie for this round taking into account the past satisfaction of the group members.</p> <br>
        <p class="action_expl">The Sequential Dynamic Adaptation Aggregation method takes into account the past satisfaction of
                                the group members to calculate a weight. This weight balances the average
                                predicted score of an item for the group and the least satisfied member's
                                predicted score for that item.</p>

        {% elif action == "SIAA" %}
        <p>We recommended this movie for this round, since it is the movie that is most likely to be enjoyed by the member who was the least satisfied in the previous round.</p> <br>
        <p class="action_expl">The Sequential Individual Adaptation
                                Aggregation method utilizes a weight for aggregations. SIAA focuses on each group
                                member individually. For each member, it calculates a weight based on
                                their overall satisfaction and the user disagreement of the previous iteration.</p>

        {% elif action == "Average Plus" %}
        <p>We recommended this movie for this round, since it is the movie that has the minimum disagreement score. <br>
            Average satisfaction: {{'%0.3f'|format(cur_round[0]|float)}}</p>
        <p class="action_expl">Avg+ aggregation
                                method consists of two phases. In the first phase, we employ an average
                                aggregation. Then, in the second phase, we iteratively populate the group
                                recommendation list, with items that generate the minimum possible group
                                disagreement score.</p>

        {% elif action == "Pareto" %}
        <p>We recommended this movie for this round, since it is the most fair result for all group members. <br>
            Fairness score: {{'%0.3f'|format(cur_round[4]|float)}}</p>
        <p class="action_expl">This method generates a group recommendation list by incrementally adding to it 
                                items that have the best combination of Social Welfare
                                and Fairness scores. It takes into account
                                the average satisfaction that an item produces for the group members and
                                balances it with the variance of the group members' satisfaction for that
                                item.</p>

        {% elif action == "RP80" %}
        <p>We recommended this movie for this round, based on the group's disagreement.</p> <br>
        <p class="action_expl">This method combines group relevance and group disagreement scores. All the group 
                                members' predicted scores about an item
                                are considered of equal importance and additionally, the method takes into
                                account the group's disagreement about that item.</p>
        {% endif %}

        <br>

        <!-- next round -->
        <form method="post" action="/watch_next">
            <input type="hidden" name="group_id" value={{items[0].id}} />
            <input class="button" type="submit" name="Next Round" value="Next Round">
        </form>

        <!-- why not query -->
        <form method="post" action="/watch_next">
            <label>Wondering why a certain movie wasn't recommended? Type its id here:</label>
            <br>
            <input type="hidden" name="group_id" value={{items[0].id}} />
            <input type="hidden" name="round_id" value={{items[0].round}} />
            <input type="number" id="movie_id" name="movie_id" pattern="[0-9]{4}" required>
            <input class="button" type="submit" name="Tell me why" value="Tell me why">
        </form>
        {% endif %}

        <!-- why not results -->
        {% if movie_id is defined %}
        <b>Scores for movie: </b> {{movie_id}}
        <br>
        <table>
            <thead>
                <th>M1 Score</th>
                <th>M2 Score</th>
                <th>M3 Score</th>
                <th>M4 Score</th>
                <th>M5 Score</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{movie_scores[0]}}</td>
                    <td>{{movie_scores[1]}}</td>
                    <td>{{movie_scores[2]}}</td>
                    <td>{{movie_scores[3]}}</td>
                    <td>{{movie_scores[4]}}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}

        <br>
        <br>

        {% if message is defined %}
        {{ message }}
        {% endif %}

        <br>
        <br>

        <!-- table with recommended movies and individual scores for previous rounds -->
        {% if previous_scores %}
        <b><u> Previous Rounds</u></b>
        <table class="highchartprev" data-graph-container="#graphcontainerprev" data-graph-type="line"
            data-graph-color-1="#005EAD" data-graph-xaxis-1-reversed="1">
            <thead>
                <th>Round</th>
                <th data-graph-skip="1">Recommended Movie</th>
                <th>M1 Score</th>
                <th>M2 Score</th>
                <th>M3 Score</th>
                <th>M4 Score</th>
                <th>M5 Score</th>
            </thead>
            <tbody>

                {% for item in previous_scores[::-1] %}
                <tr>
                    <td>{{item.round}}</td>
                    <td><img id="poster" src="{{ url_for('static', filename = 'posters/'+ item.movie +'.jpg') }}"></td>
                    <td>{{item.m1_score}}</td>
                    <td>{{item.m2_score}}</td>
                    <td>{{item.m3_score}}</td>
                    <td>{{item.m4_score}}</td>
                    <td>{{item.m5_score}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="graphcontainerprev"></div>
        {% endif %}

        <!-- tables with scores and charts -->
        {% if ov_sat is defined and ov_sat|length > 0 %}

        <b>All Scores:</b>

        <br>

        <div class="row">
            <div class="column">
                <table class="highchart" data-graph-container="#graphcontainer" data-graph-type="column"
                    data-graph-color-1="#005EAD">
                    <thead>
                        <th>Round</th>
                        <th>Overall Satisfaction</th>
                    </thead>
                    <tbody>
                        {% for item in ov_sat %}
                        <tr>
                            <td>{{ loop.index0 }}</td>
                            <td>{{'%0.3f'|format(item|float)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="graphcontainer"></div>
            </div>

            <div class="column">
                <table class="highchart2" data-graph-container="#graphcontainer2" data-graph-type="column"
                    data-graph-color-1="#005EAD">
                    <thead>
                        <th>Round</th>
                        <th>MaxMin</th>
                    </thead>
                    <tbody>
                        {% for item in max_min %}
                        <tr>
                            <td>{{ loop.index0 }}</td>
                            <td>{{'%0.3f'|format(item|float)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="graphcontainer2"></div>
            </div>

            <div class="column">
                <table class="highchart3" data-graph-container="#graphcontainer3" data-graph-type="column"
                    data-graph-color-1="#005EAD">
                    <thead>
                        <th>Round</th>
                        <th>NDCG</th>
                    </thead>
                    <tbody>
                        {% for item in ndcg %}
                        <tr>
                            <td>{{ loop.index0 }}</td>
                            <td>{{'%0.3f'|format(item|float)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="graphcontainer3"></div>
            </div>

            <div class="column">
                <table class="highchart4" data-graph-container="#graphcontainer4" data-graph-type="column"
                    data-graph-color-1="#005EAD">
                    <thead>
                        <th>Round</th>
                        <th>DFH</th>
                    </thead>
                    <tbody>
                        {% for item in dfh %}
                        <tr>
                            <td>{{ loop.index0 }}</td>
                            <td>{{'%0.3f'|format(item|float)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="graphcontainer4"></div>
            </div>

            <div class="column">
                <table class="highchart5" data-graph-container="#graphcontainer5" data-graph-type="column"
                    data-graph-color-1="#005EAD">
                    <thead>
                        <th>Round</th>
                        <th>FScore</th>
                    </thead>
                    <tbody>
                        {% for item in f_score %}
                        <tr>
                            <td>{{ loop.index0 }}</td>
                            <td>{{'%0.3f'|format(item|float)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="graphcontainer5"></div>
            </div>
        </div>
        {% endif %}

        {% if movie_id is defined %}
        <input type="button" class="button" value="Go back" onclick="history.back()">
        {% elif cur_round is defined or previous_scores is defined %}
        <a href="watch_next" type="button" class="button" style="text-decoration: none">Go back to group list</a>
        {% endif %}

    </div>

    <!-- create charts from tables using highcharts -->
    <script>
        $('table.highchart').highchartTable();
        $('table.highchart2').highchartTable();
        $('table.highchart3').highchartTable();
        $('table.highchart4').highchartTable();
        $('table.highchart5').highchartTable();
        $('table.highchartprev').highchartTable();
    </script>

</body>

</html>
